<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>
            {% block title %}
                Mazarini Design
            {% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="body" class="front">
        <div id="container" class="container">
            {% block container %}
                <header id="header">
                    {% block header %}{% endblock %}
                </header>
                <section id="section" class="row">
                    <aside id="primary" class="col-xl-2 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        {% block side_primary %}{% endblock %}
                    </aside>
                    <article id="article" class="col-xl-8 col-lg-9 col-md-9 col-sm-12 col-xs-12a">
                        {% block body %}{% endblock %}
                    </article>
                    <aside id="secondary" class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {% block side_secondary %}{% endblock %}
                    </aside>
                </section>
                <footer id="footer">
                    {% block footer %}{% endblock %}
                </footer>
            {% endblock %}
        </div>
        {% block static %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
