{% extends '@MazariniDesign/layout.html.twig' %}

{% block header %}
    <h2>Header</h2>
{% endblock %}

{% block primary %}
    <h2>Primary</h2>
{% endblock %}

{% block secondary %}
    <h2>Secondary</h2>
{% endblock %}

{% block body %}
    {% include 'page/_accueil.html.twig' %}
{% endblock %}
