<img src="/images/la pomme de pin.jpg" style="width: 100%;"/>
<p class="text-center">
    Nichée dans l’une des pittoresques rues pavées de la Cité, La Pomme de Pin:
    <br/>
    l’enseigne verte forgée à l’ancienne vous indique l’entrée d’une maison chaleureuse,avec son café-brasserie
    <br/>
    et son restaurant, plus intime. Le patron Georges Croset y interprète, avec amour et maîtrise, les classiques de
    <br/>
    la gastronomie, sans renoncer à ce que saveurs et sensations nouvelles apportent d’excitant.
    <br/>
    Entre la cathédrale, le château et l’académie, entre le café, le quart d’heure vaudois et le repas aux chandelles:
    <br/>
    c’est là que les amateurs de cuisine confortable et raffinée, comme de vins fins et de bons moments,
    <br/>
    se donnent rendez-vous depuis des générations à Lausanne.
    <br/>
    <br/>
    <br/>
    Jacques-David Chausson
</p>
