<div class="row d-flex justify-content-between">
    {% include "page/_card.html.twig" with {image: 'dorade.jpg'} %}
    {% include "page/_card.html.twig" with {image: 'feuillete.jpg'} %}
    {% include "page/_card.html.twig" with {image: 'carre.jpg'} %}
    {% include "page/_card.html.twig" with {image: 'croutes-aux-morilles.jpg'} %}
    {% include "page/_card.html.twig" with {image: 'Selle-de-chevreuil.jpg'} %}
    {% include "page/_card.html.twig" with {image: 'Fricassée-de-champignon.jpg'} %}
    {% include "page/_card.html.twig" with {image: 'moelleux.jpg'} %}
    {% include "page/_card.html.twig" with {image: 'gratin.jpg'} %}
    {% include "page/_card.html.twig" with {image: 'chaud-froid.jpg'} %}
    {% include "page/_card.html.twig" with {image: 'Coquelet-aux-morilles.jpg'} %}
</div>
