@font-face {
    font-display: block;
    font-family: "Coquette-W00-Light";
    src: url("../fonts/Coquette Light Regular.eot?#iefix");
    src: url("../fonts/Coquette Light Regular.eot?#iefix") format("eot"),
        url("../fonts/Coquette Light Regular.woff") format("woff"),
        url("../fonts/Coquette Light Regular.ttf") format("truetype"),
        url("../fonts/Coquette Light Regular.svg#e514ed32-1687-47d8-8b39-423fb7664d33") format("svg");
}

@font-face {
    font-display: block;
    font-family: "EBGaramond";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");
}

@font-face {
    font-display: block;
    font-family: "EBGaramond";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/EBGaramond-Italic.ttf") format("truetype");
}

@font-face {
    font-display: block;
    font-family: "EBGaramond";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/EBGaramond-Bold.ttf") format("truetype");
}

@font-face {
    font-display: block;
    font-family: "EBGaramond";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/EBGaramond-BoldItalic.ttf") format("truetype");
}
