#footer {
    padding-top: 10px;
    color: #747474;
    font-size: 14px;
    font-weight: 400;
    font-stretch: 100%;
    letter-spacing: 0em;
    font-family: coquette-w00-light, sans-serif;

    .container {
        display: grid;
    }

    p {
        margin: auto;
    }
}
