#header {
    display: grid;
    color: #746356;

    .sociaux {
        margin-top: 45px;
        padding: 32px 5px 0px;
    }

    h2 {
        font-family: coquette-w00-light, sans-serif;
        margin-top: -25px;
        letter-spacing: -0.05em;
        color: #746356;
        font-size: 86px;
        font-weight: 700;
        font-stretch: 100%;
    }

    .navbar-brand {
        display: block;
    }

    .brand {
        display: none;
    }

    @media (min-width: 992px) {
        .navbar-brand {
            display: none;
        }

        .brand {
            display: block;
        }
    }

    nav {
        color: #868686;

        a {
            color: #868686;
            padding: 0 8px;
        }

        a.active {
            color: #EC9514;
        }

        ul {
            margin-left: auto;
            font-size: 16px;
        }

        li {
            border-left: #868686 solid 1px;
        }

        li:first-child {
            border-left: 0;
        }
    }

}
