#secondary {
    display: grid;
    padding: 46px;

    p {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 700;
        font-stretch: 100%;
        letter-spacing: 0em;
        font-family: eb garamond, serif;
        ;
    }

    p {
        margin: 0 auto;
    }

    p.f15 {
        font-size: 15px;
    }
}
