.visibility-xxl,
.visibility-xl,
.visibility-lg,
.visibility-md,
.visibility-sm,
.visibility-xs {
    display: none;
}

@media (min-width: 1400px) {
    .visibility-xxl {
        display: block;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .visibility-xl {
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .visibility-lg {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .visibility-md {
        display: block;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .visibility-sm {
        display: block;
    }
}

@media (max-width: 575.98px) {
    .visibility-xs {
        visibility: block;
    }
}
