<ul>
    {% for node in tree %}
        {% if node is iterable %}
            <li>{{ node.label }}</li>
            {% include '@MazariniDesign/design/_list.html.twig' with {'template': template, 'tree': node} only %}
        {% else %}
            <li>
                <a href="{{ path('mazarini_design_theme', {'template': node.template}) }}">{{ node.label }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
