<div style="position: absolute; top: 40px; left: 40px; z-index: 10;">
    <h3 class="visibility-xs">XS (0,576px)</h3>
    <h3 class="visibility-sm">SM (576px,768px)</h3>
    <h3 class="visibility-md">MD (768px,992px)</h3>
    <h3 class="visibility-lg">LG (992px,1200px)</h3>
    <h3 class="visibility-xl">XL (1200px,1400px)</h3>
    <h3 class="visibility-xxl">XXL (1400px)</h3>
</div>
